# Data Types

In [2]:
# Lists
a = [1,2,3,4,5]
fruits = ['apple', 'banana', 'cherry', 'orange', 'grapes']
print(a)
print(fruits)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry', 'orange', 'grapes']

In [5]:
#sets
#no dublicate values
a = {1,5,7,2,3,8}
print(a)

#if dublicate value
b = {1,2,3,2,2,4,7}
print(b)

{1, 2, 3, 5, 7, 8}
{1, 2, 3, 4, 7}

In [26]:
#Dictionaries

student = {
    'name': 'Shruti',
    'age': 23,
    'qualification': 'BTech',
    'cgpa': 8.2
    }
print(student)

{'name': 'Shruti', 'age': 23, 'qualification': 'BTech', 'cgpa': 8.2}

In [ ]:
#to know the type of variable

NameError: name 'variable' is not defined

## Type Casting

In [15]:
a = 10
b = str(a)
type(b)

str

In [17]:
a = int(input("Enter a number: "))
type(a)

int